node_modules/
*-Test/
*teste/
debug.log
Bds_Maneger
.dccache
docs/
run.log
build.log
Docker.js.log
Docker.js
bds_maneger
BdsManager-bin*
Bds-Maneger-Core

# Docker Build
Docker.exe

# Bin Ignores
bin/*
!bin/bds_maneger.js