# Log
*.log

# Develop files
.devcontainer/
.vscode/
.Build/

# Linters
.eslint*

# test files
*.test
*test*.*js
*Test*.*js
test/
Test/

# Git
git*
.git*

# Docker
.docker*
Docker*

# Npm
the-bds-maneger-core*.tgz