* {
  font-style: normal;
  font-size: 1.03rem;
  font-family: "Times New Roman", Times, serif;
}

select {
  width: 100%;
  min-width: 15ch;
  max-width: 25vmax;
  border: 1px solid #777;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

body {
  background-color: #ffffff;
  color: #00073f;
}
h1 {
  color: #14274e;
}
h3 {
  color: #7579e7;
}

a {
  color: #3862d4;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0c0c0c;
    color: #f0ece2;
  }
  h1 {
    color: #7579e7;
  }
  h3 {
    color: #69779b;
  }
  img {
    filter: brightness(0.9);
  }
}